<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Sensors2osc
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <!--ACCELEROMETER-->
    <ion-item color="secondary">
      <ion-label class="custom-label">Accelerometer <em>m/s<sup>2</sup></em></ion-label>
      <ion-button (click)="sensors.watchAccelerometer(); accelStart = true" *ngIf="accelStart == false"> Start </ion-button>
      <ion-button (click)="sensors.stopAccelerometer(); accelStart = false" *ngIf="accelStart == true" color="tertiary"> stop </ion-button>
      
      <ion-button (click)="accelView = true" *ngIf="accelView==false">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="accelView = false" *ngIf="accelView==true">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="accelView == true" >
      <ion-label color="primary" class="ion-no-margin" style="font-size: 10px;">
        
        <ion-select [(ngModel)]="sensors.accelValuesType" interface="popover" >
          <ion-select-option value="wG" class="my-custom-option">with Gravity</ion-select-option>
          <ion-select-option value="nG">without Gravity</ion-select-option>
        </ion-select>

      </ion-label>
    </ion-item>
    <ion-item *ngIf="accelView == true" >
      <ion-label class="sens-sec">
        <app-sensor-section 
          [sensorValue]=" 'accelValue' " 
          [colors]=theme.colorsArry>
        </app-sensor-section>
      </ion-label>
    </ion-item>
    <!--GYROSCOPE-->
    <ion-item color="secondary">
      <ion-label  class="custom-label">Gyroscope <em>deg/s</em></ion-label>
      <ion-button (click)="sensors.watchGyroscope(); gyroStart = true" *ngIf="gyroStart == false"> Start </ion-button>
      <ion-button color="tertiary" (click)="sensors.stopGyroscope(); gyroStart = false" *ngIf="gyroStart == true"> stop </ion-button>
      
      <ion-button (click)="gyroView = true" *ngIf="gyroView==false">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="gyroView = false" *ngIf="gyroView==true">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="gyroView == true">
      <ion-label class="sens-sec">
        <app-sensor-section 
          [sensorValue]=" 'gyroValue' " 
          [colors]=theme.colorsArry>
        </app-sensor-section>
      </ion-label>
    </ion-item>
    <!--MAGNETOMETER-->
    <ion-item color="secondary">
      <ion-label class="custom-label">Magnetometer <em>µT</em></ion-label>
      <ion-button (click)="sensors.watchMagnetometer(); magneStart = true" *ngIf="magneStart == false"> Start </ion-button>
      <ion-button color="tertiary" (click)="sensors.stopMagnetometer(); magneStart = false" *ngIf="magneStart == true"> stop </ion-button>
      
      <ion-button (click)="magneView = true" *ngIf="magneView==false">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="magneView = false" *ngIf="magneView==true">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="magneView == true">
      <ion-label class="sens-sec">
        <app-sensor-section 
          [sensorValue]=" 'magneValue' " 
          [colors]=theme.colorsArry>
        </app-sensor-section>
      </ion-label>
    </ion-item>
    <!--ORIENTATION-->
    <ion-item color="secondary">
      <ion-label class="custom-label">Orientation <em>deg</em></ion-label>
      <ion-button (click)="sensors.watchOrientation(); orientStart = true" *ngIf="orientStart == false"> Start </ion-button>
      <ion-button color="tertiary" (click)="sensors.stopOrientation(); orientStart = false" *ngIf="orientStart == true"> stop </ion-button>
      
      <ion-button (click)="orientView = true" *ngIf="orientView==false">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="orientView = false" *ngIf="orientView==true">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="orientView == true">
      <ion-label class="sens-sec">
        <app-sensor-section 
          [sensorValue]=" 'orientValue' " 
          [colors]=theme.colorsArry>
        </app-sensor-section>
      </ion-label>
    </ion-item>
    <!--Heading-->
    <ion-item color="secondary">
      <ion-label class="custom-label">Heading <em>North - deg</em></ion-label>
      <ion-button (click)="sensors.watchHeading(); headStart = true" *ngIf="headStart == false"> Start </ion-button>
      <ion-button color="tertiary" (click)="sensors.stopHeading(); headStart = false" *ngIf="headStart == true"> stop </ion-button>
      
      <ion-button (click)="headView = true" *ngIf="headView==false">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="headView = false" *ngIf="headView==true">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="headView == true" >
      <ion-label color="primary" class="ion-no-margin" style="font-size: 10px;">
        
        <ion-select [(ngModel)]="sensors.headingValuesType" interface="popover" >
          <ion-select-option value="t" class="my-custom-option">true Heading</ion-select-option>
          <ion-select-option value="m">magnetic Heading</ion-select-option>
        </ion-select>

      </ion-label>
    </ion-item>
    <ion-item *ngIf="headView == true">
      <ion-label class="sens-sec">
        <app-sensor-section 
          [sensorValue]=" 'headingValue' " 
          [colors]=theme.colorsArry>
        </app-sensor-section>
      </ion-label>
    </ion-item>
    <!--PROXIMITY-->
    <ion-item color="secondary">
      <ion-label class="custom-label">Proximity <em>lx</em></ion-label>
      <ion-button (click)="sensors.watchLight(); lightStart = true" *ngIf="lightStart == false"> Start </ion-button>
      <ion-button color="tertiary" (click)="sensors.stopLight(); lightStart = false" *ngIf="lightStart == true"> stop </ion-button>
      
      <ion-button (click)="lightView = true" *ngIf="lightView==false">
        <ion-icon name="arrow-down-outline"></ion-icon>
      </ion-button>
      
      <ion-button (click)="lightView = false" *ngIf="lightView==true">
        <ion-icon name="arrow-up-outline"></ion-icon>
      </ion-button>
    </ion-item>
    <ion-item *ngIf="lightView == true">
      <ion-label class="sens-sec">
        <app-sensor-section 
          [sensorValue]=" 'lightValue' " 
          [colors]=theme.colorsArry>
        </app-sensor-section>
      </ion-label>
    </ion-item>
    
  </ion-list>
</ion-content>

<ion-footer class="foo">
  <ion-toolbar>
    <ion-button size="small" expand="full" color="tertiary" (click)="setupHosting()"> 
      <ion-icon name="settings-outline"></ion-icon>
    </ion-button>>
  </ion-toolbar>
</ion-footer>
