<div class="plot">
  <canvas #plot></canvas>
      <ion-item class="add-item" color="tertiary" lines="full">
        <ion-label class="ion-no-margin" slot="start" color="secondary"> Address </ion-label>
        <ion-input class="ion-no-margin" type="text" [formControl]="addForm" [(ngModel)]="internalAddress"></ion-input>
        <ion-button class="b-submit ion-no-margin" type="submit" (click)="changeAddress()" size="small" [disabled]="!addForm.valid">
          <ion-icon class="i-submit" name="checkmark-outline"></ion-icon>
        </ion-button>
      </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col 
          *ngFor="let add of address; index as i" 
          style="text-align: center; font-size: 10px;"
          [ngStyle]="{color:colors[i]}"> 
            {{add}}
          </ion-col>
      </ion-row>
    </ion-grid>
</div>
