@import '../theme/font';

.but{
    --border-radius: 0px; 
}

ion-select {
    /* Applies to the value and placeholder color */
    color: #aaaaaa;
}

.my-custom-interface .opt{
    --color: #aaaaaa;
    --color-hover: #ffffff;
}

.my-custom-interface .opt ion-radio{
    --color: #555555;
    --color-checked: #aaaaaa;
}