.plot{
    position: absolute;
    width: 95%;
}

.add-item{
    font-size: 10px;
}

.b-submit{
    --width: 15px;
    --height: 15px;
    --border-radius: 10%;
    --vertical-align: middle;
}

.i-submit{
    width: 10px;
}